:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  max-width: 800px;
  min-width: 500px;

  margin: 3rem auto;

  .block-container {
    background-color: #d9d9d9;
    padding: 5rem;
    border-radius: 1rem;
  }
}
